// Color Codes Start
$white: #ffffff;
$black: #000000;
$basic-gray :#293737;
$base-black: #2F2F2F;
$blue: #2043DA;
$deep-blue: #10259C;
$dark-blue: #0f19c8;
$violet: #4217BC;
$deep-violet: #250B87;
$dark-violet: #11045A;
$malibu: #878fff;
$vulcan: #0a0a14;
$active-link: #2852A1;
$black-pearl: #0f1e32;
$jungle-green: #229A9E;
$light-lavender: #F9F5FF;
$lavender: #e6e6ff;
$pale-lavender: #D1DDFD;
$dark-lavender: #E6E1F6;
$gray: #373F41;
$cod-gray: #1c1c1c;
$light-yellow: #ebc328;
$yellow: #c9a31f;
$spring-green: rgba(255, 184, 0, 0.19);
$mountain-meadow: #1bbf7b;
$dim-gray: #737373;
$light-gray: #E5E5E5;
$light-grayish: #F9FAFB;
$persian-rose: #ff2841;
$bright-red: #fb0a10;
$robins-egg-blue: #1ed2e1;
$powder: rgba(15, 30, 255, 0.1);
$light-blue: #164FE2;
$cosmos: #ffd3d5;
$light-gray: #d1d1d1;
$chinese-silver: #cbcbcb;
$forest-green: #179762;
$bright-gray: #E1FFF3;
$amour: #ECEDFF;
$brilliant-white: #e8eefe;
$blue-charcoal: #212529;
$white-smoke: #f5f5f5;
$steel-gray: #656F7C;
$drover: #BEA1F8;
$charcoal: #464646;
$electric-purple: #D171FF;
$cosmic-latte: #DFCFFB;
$transparent: transparent;
$grayish-blue: #475467;
$pale-cyan: #E8FCF7;
$magnolia: #FCFAFF;
$sapphire: #210279;
$shark: #252830;