// Open Sans Font Start
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  src:
    local('opensans-bold-webfont'),
    url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  src:
    local('opensans-semibold-webfont'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;

}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  src:
    local('opensans-regular-webfont'),
    url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  src:
    local('opensans-light-webfont'),
    url('../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}


@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  src: local('opensans-extrabold-webfont'),
    url('../fonts/opensans-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
// Open Sans Font End

// Mulish Font Start
@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
// Mulish Font End

/* Custom Metropolis Font Include Start */
@font-face {
  font-display: swap;
  font-family: 'metropolis';
  src: local('Metropolis-Black'), url('../fonts/Metropolis-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'metropolis';
  src: local('Metropolis-Bold'), url('../fonts/Metropolis-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'metropolis';
  src: local('Metropolis-SemiBold'), url('../fonts/Metropolis-SemiBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'metropolis';
  src: local('Metropolis-Medium'), url('../fonts/Metropolis-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'metropolis';
  src: local('Metropolis-Regular'), url('../fonts/Metropolis-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'metropolis';
  src: local('Metropolis-Light'), url('../fonts/Metropolis-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'metropolis';
  src: local('Metropolis-Thin'), url('../fonts/Metropolis-Thin.woff') format('woff');
  font-weight: 250;
  font-style: normal;
}

/* Custom Metropolis Font Include End */

/* Custom Rota Font Include Start */
@font-face {
  font-display: swap;
  font-family: 'rota';
  src: local('rota-black_900-webfont'), url('../fonts/rota-black_900-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'rota';
  src: local('rota-bold_700-webfont'), url('../fonts/rota-bold_700-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'rota';
  src: local('rota-light_300-webfont'), url('../fonts/rota-light_300-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'rota';
  src: local('rota-medium_500-webfont'), url('../fonts/rota-medium_500-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'rota';
  src: local('rota-regular_400-webfont'), url('../fonts/rota-regular_400-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'rota';
  src: local('rota-semibold_600-webfont'), url('../fonts/rota-semibold_600-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'rota';
  src: local('rota-thin_250-webfont'), url('../fonts/rota-thin_250-webfont.woff') format('woff');
  font-weight: 250;
  font-style: normal;
}

/* Custom Rota Font Include End */